[submodule "odsee"]
	path = odsee
	url = https://github.com/CU-CommunityApps/odsee.git
[submodule "garcon"]
	path = garcon
	url = https://github.com/riddopic/garcon.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/chef-cookbooks/chef_handler.git
[submodule "chef-os-hardening"]
	path = chef-os-hardening
	url = https://github.com/dev-sec/chef-os-hardening.git
[submodule "chef-ssh-hardening"]
	path = chef-ssh-hardening
	url = https://github.com/dev-sec/chef-ssh-hardening.git
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/chef-cookbooks/yum-epel.git
[submodule "sudo"]
	path = sudo
	url = https://github.com/chef-cookbooks/sudo.git
